body{
    background-image: linear-gradient(#000000,#3cdfff, #8aefff, #9DD9F3);
    text-align: center;
    font-size: 2vw;
    margin: auto;
    width:90%;
    background-size: 400% 400%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.responsive {
  width: 15%;
  height: auto;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vw;
    text-align: center;
    color:gold
}
h5{
    font-family: 'Sacramento', cursive;
    font-size: 3vw;
    text-align: center;
    color:#EE2625
}
h3{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3vw;
    text-align: center;
    color: #c175ff
}
h4{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 3vw;
    text-align: center;
    color: #000F4D
}
.neonText {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px gold,
      0 0 82px gold,
      0 0 92px gold,
      0 0 102px gold,
      0 0 151px gold;
}
.neonText2 {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #EE2625,
      0 0 82px #EE2625,
      0 0 92px #EE2625,
      0 0 102px #EE2625,
      0 0 151px #EE2625;
}